<form action="http://vk.com/feed" method=Get>	
<input type=text name="text"><p>
<input type=text name="huext"><p>
<!--
/*<textarea name="text"></textarea><p>*/
-->

<input type="submit" value="Submit">
<input type="reset" value="Clean">
</form>