
@font-face {font-family: 'PT Sans'; 
        src: url('/fonts/PTSansWeb/pts55f.eot'); 
        src: local('PT Sans'), url('/fonts/PTSansWeb/pts55f.woff') format('woff'), url('/fonts/PTSansWeb/PTS55F.ttf') format('truetype');}

@font-face {font-family: 'PT Sans'; 
        font-style: italic;
        src: url('/fonts/PTSansWeb/pts56f.eot'); 
        src: local('PT Sans Italic'), url('/fonts/PTSansWeb/pts56f.woff') format('woff'), url('/fonts/PTSansWeb/PTS56F.ttf') format('truetype');}

@font-face {font-family: 'PT Sans';
        src: url('/fonts/PTSansWeb/pts75f.eot');
        font-style: normal;
        font-weight: bold; 
        src: local('PT Sans Bold'), url('/fonts/PTSansWeb/pts75f.woff') format('woff'), url('/fonts/PTSansWeb/PTS75F.ttf') format('truetype');}

@font-face {font-family: 'PT Sans';
        font-style: italic;
        font-weight: bold; 
        src: url('/fonts/PTSansWeb/pts76f.eot'); 
        src: local('PT Sans Bold Italic'), url('/fonts/PTSansWeb/pts76f.woff') format('woff'), url('/fonts/PTSansWeb/PTS76F.ttf') format('truetype');}


BODY {
	background-color: #EEEEEE;
	font-family: 'PT Sans', 'Lucida Grande', Verdana, Arial, sans-serif;
	margin: 0;
}

DIV.navi {
        border-bottom: 1px dotted #CCCCCC;
        font-size: normal;
        font-weight: bold;
        padding-bottom: 0.6em;
        margin-bottom: 1em;
}

#container {
	position: relative;
	text-align: center;
}

#header {
	margin: 1em auto;
	text-align: center;
	width: 960px;
}
#header A {
	color: #777777;
	text-decoration: none;
}

#article-content {
	background-color: #FFFFFF;
	border: none;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	border-radius: 8px;
		-moz-box-shadow: 0 2px 8px #999999;
		-webkit-box-shadow: 0 2px 8px #999999;
	box-shadow: 0 2px 8px #000000;

	margin: 0 auto;
	padding: 8px 28px;
	position: relative;
	text-align: justify;
	width: 50em;
}

#article-content P {
	text-indent: 2em;
}

#article-content .lstlisting {
	margin-left: 2em;
}

#article-content BLOCKQUOTE {
	text-align: justify;
}

.dt-thebibliography, .dd-thebibliography {
	text-align: left;
}

#adblock {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

UL A {
	display: inline;
}

.hbar { height: 1px; }

